<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inscription Réussie</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
  <h1 class="text-center">Inscription Réussie</h1>
  <p class="text-center" th:text="${message}"></p> <!-- Affiche le message dynamique -->
  <div class="text-center">
    <a href="/users/login" class="btn btn-primary">Se connecter</a>
  </div>
</div>
</body>
</html>
